<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>var dataLayer=dataLayer||[];function gtag(){dataLayer.push(arguments)} gtag('js',new Date());gtag('config','{{ site.google_analytics }}')</script>
    {% endif %}

    {% if site.quantcast %}
    <script async src="https://secure.quantserve.com/quant.js"></script>
    <script>var _qevents=_qevents||[];_qevents.push({qacct:"{{ site.quantcast }}"})</script>
    {% endif %}

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    {% unless page.hide_header %}
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.phone_number.link %}
        <a href="{{ site.phone_number.link }}" class="btn">Call: {{ site.phone_number.friendly }}</a>
      {% endif %}
      {% if site.email.link %}
        <a href="{{ site.email.link }}" class="btn">Email: {{ site.email.friendly }}</a>
      {% endif %}
    </header>
    {% endunless %}

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if page.credits %}
        <div class="site-footer-credits">{{ page.credits }}</div>
        {% endif %}
        {% if site.quantcast or site.google_analytics %}
        <div class="site-footer-privacy" id="privacy">
          This website uses Google Analytics and Quantcast. For more information, see <a href="https://policies.google.com/technologies/partner-sites">Google's privacy policy</a> and <a href="https://www.quantcast.com/privacy/">Quantcast's privacy policy</a>.
        </div>
        {% endif %}
      </footer>
    </main>

    {% if site.quantcast %}
    <noscript>
      <div style="display:none">
        <img src="//pixel.quantserve.com/pixel/{{ site.quantcast }}.gif" style="border: 0 none" height="1" width="1" alt="Quantcast" />
      </div>
    </noscript>
    {% endif %}
  </body>
</html>
